/**
 *  Common mixing and classes
 */

// Colors
$line-light:  1px solid rgba(0, 0, 0, 0.1);
$line-medium: 1px solid rgba(0, 0, 0, 0.2);
$line-dark:   1px solid rgba(0, 0, 0, 0.3);

// Flexbox
div {
    .flex-container {
        display: flex;
    }

    @for $i from 1 to 12 {
        .flex-#{$i} {
            flex: $i
        }
    }

    .flex-vtop    { align-items: flex-start; }
    .flex-vcenter { align-items: center; }
    .flex-vbottom { align-items: flex-end; }
}

// Navbar
nav.upper-navbar {
    padding: 10px 5px 5px 5px;
    border-bottom: $line-medium;

    #upper-navbar-links {
        display: flex;
        flex-direction: row-reverse;

        a {
            margin-left: 3px;
            margin-right: 3px;
            text-decoration: none;
        }
    }
}

@mixin box-shadow($property) {
    box-shadow: $property;
    -moz-box-shadow: $property;
    -webkit-box-shadow: $property;
}

$img-float-pad: 15px;

.float-left {
    float: left;
    margin-right: $img-float-pad;
}

.float-right {
    float: right;
    margin-left: $img-float-pad;
}
