/**
 *  Common mixing and classes
 */

// Colors
$icon-hover: #bc3d34;

$line-light:  1px solid rgba(0, 0, 0, 0.1);
$line-medium: 1px solid rgba(0, 0, 0, 0.2);
$line-dark:   1px solid rgba(0, 0, 0, 0.3);

// Common Mixins
@mixin box-shadow($property) {
    box-shadow: $property;
    -moz-box-shadow: $property;
    -webkit-box-shadow: $property;
}

@mixin text-shadow($property) {
    text-shadow: $property;
    -moz-text-shadow: $property;
    -webkit-text-shadow: $property;
}

@mixin transition($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
}

// Flexbox
div {
    .flex-container {
        display: flex;
    }

    @for $i from 1 to 12 {
        .flex-#{$i} {
            flex: $i
        }
    }

    .flex-vtop    { align-items: flex-start; }
    .flex-vcenter { align-items: center; }
    .flex-vbottom { align-items: flex-end; }
}

// Navbar
nav.upper-navbar {
    padding: 10px 5px 10px 5px;
    border-bottom: $line-medium;

    font-size: 0.9em;
    font-weight: bold;

    .navbar-links {
        display: flex;
        flex-direction: row-reverse;

        a {
            color: black;
            margin-left: 7px;
            margin-right: 7px;

            // Hackity hack hack: use invisible bottom border for links
            text-decoration: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            @include transition(border-bottom 0.25s);
        }

        a:hover {
            border-bottom: 2px solid $icon-hover;
        }
    }
}

$img-float-pad: 15px;

.float-left {
    float: left;
    margin-right: $img-float-pad;
}

.float-right {
    float: right;
    margin-left: $img-float-pad;
}
