<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/assets/css/normalize.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
                                integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
                                crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css"/>
    </head>

    <body>

        <nav class="upper-navbar">
            <div class="navbar-links">
                {% assign nav_items = site.data.navigation.items | reverse %}
                {% for item in nav_items %}
                    <a href="{{ item.url }}"">{{ item.name }}</a>
                {% endfor %}
            </div>
        </nav>

        <div class="container">
            {{ content }}
        
            <div class="footer">
                <span class="icons animated-link-hover">
                    <a href="https://www.github.com/CDFriend">
                        <i class="fab fa-github-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/charliefriend/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </span>
    
                <span class="float-right">
                    Made by Charlie Friend in {{ "now" | date: "%Y" }}.
                </span>
            </div>
        </div>
    </body>

</html>